body {
  height: 100%;
  width: 100%;
  background-color: #6bac47;
  font-family: "Press Start 2P", cursive;
}

.max-width {
  max-width: 100%;
}

.max-height {
  max-height: 100%;
}

.menu-text {
  color: white;
}

.side-nav-btn {
  background-color: #a8d05f;
  margin: 50px;
  padding: 100px;
  color: white;
}

.navbar-style {
  background-color: #72963b;
}

.logo {
  padding-left: 10px;
}


.weather-column {
  background-color: #a8d05f;
}

.shadow {
  box-shadow: 10px 10px;
}

/*DOES NOT WORK*/
.pixelate {
  image-rendering: pixelated;
}

.weather-column:hover {
  transform: translateY(-20px);
}