body {
  height: 100%;
  width: 100%;
  background-color: #6bac47;
  font-family: "Press Start 2P", cursive;
}

.max-width {
  max-width: 100%;
}

.max-height {
  max-height: 100%;
}

.menu-text {
  color: white;
}

.side-nav-btn {
  background-color: #a8d05f;
  margin: 50px;
  padding: 100px;
  color: white;
}

.navbar-style {
  background-color: #72963b;
}

.logo {
  padding-left: 10px;
}

.plant-button {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  text-align: center;
  color: beige;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 200px;
  width: 150px;
  border-width: medium;
  box-shadow: 10px 10px rgba(0, 0, 0, 10);
  background-repeat: no-repeat;
  background-position: center;
}

.plant-button:hover {
  transform: translateY(-20px);
}


/* button photo backgrounds */
#tomato {
  background-image: url(../assets/plant-images/tomato.png);
}

#cucumber {
  background-image: url(../assets/plant-images/cucumber.png);
}

#dill {
  background-image: url(../assets/plant-images/dill.png);
}

#lettuce {
  background-image: url(../assets/plant-images/lettuce.png);
}

#peppers {
  background-image: url(../assets/plant-images/pepper.png);
}

#thyme {
  background-image: url(../assets/plant-images/thyme.png);
}

#dill {
  background-image: url(../assets/plant-images/dill.png);
}

#spinach {
  background-image: url(../assets/plant-images/spinach.png);
}

#sage {
  background-image: url(../assets/plant-images/sage.png);
}

#rosemary {
  background-image: url(../assets/plant-images/rosemary.png);
}

/* Modal CSS template copied and pasted from w3schools with some minor edits*/

/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 150px; Location of the box */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: beige;
  margin-top: 10px;
  padding: 90px;
  border: 1px solid #888;
  width: 60%;
}

.modal-content h1 {
  padding: 10px;
  font-size: large;
}

.modal-content p {
  background:rgba(75, 50, 18, 0.514);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
